body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f0f0f;
    color: #fff;
}

header {
    background: #1a1a1a;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    margin: 0 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.skill-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b8af3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

.skill-btn:hover {
    background-color: #2f6add;
}


.skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.sec {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}


.skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact-form {
    width: 400px;
    margin-left: 0; 
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    padding: 12px;
    border: none;
    background: #4b8af3;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.contact-form button:hover {
    background: #2f6add;
}